@page "/"


<h1>Hello, world!</h1>

<input type="text" aria-multiline="true" @onchange="Update">
@Output

@code{

    public string Output = "";
    [Inject]
    public CompositeAnalyzer Text { get; set; }

    private void Update(ChangeEventArgs obj)
    {
        Output = Text.AnalyzeComposite((string) obj.Value) + "";
        StateHasChanged();
    }

}